.social-container {
    background: transparent;
    padding: 25px 50px;
    margin: 0px 300px;
}

a.social {
    transition: transform 250ms;
    display: flex;
    -webkit-transition: transform 250ms;
    -moz-transition: transform 250ms;
    -ms-transition: transform 250ms;
    -o-transition: transform 250ms;
}

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: white;
}

@media (prefers-reduced-motion: no-preference) {
    a.social:hover,
    .App-logo:hover {
        animation: Movment infinite 2s;
        -webkit-animation: Movment infinite 2s;
        transform: translateY(-4px);
        -webkit-transform: translateY(-4px);
        -moz-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
        -o-transform: translateY(-4px);
    }
    .social-link:hover>.App-logo:hover {
        animation: Movment infinite 2s;
        -webkit-animation: Movment infinite 2s;
    }
}

@keyframes Movment {
    0% {
        top: 0px;
        left: 0px;
        width: 0;
    }
    25% {
        top: 0px;
        left: 100px;
        width: 25%;
    }
    50% {
        top: 100px;
        left: 100px;
        width: 50%;
    }
    75% {
        top: 100px;
        left: 0px;
        width: 75%;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 100%;
    }
}