.social-container {
    background: transparent;
    padding: 15px 10px;
    margin: 0px 300px;
}

a.social {
    transition: transform 250ms;
    display: flex;
    -webkit-transition: transform 250ms;
    -moz-transition: transform 250ms;
    -ms-transition: transform 250ms;
    -o-transition: transform 250ms;
}

a.social:hover {
    transform: translateY(-12px);
    -webkit-transform: translateY(-12px);
    -moz-transform: translateY(-12px);
    -ms-transform: translateY(-12px);
    -o-transform: translateY(-12px);
}

a.facebook {
    color: #4968ad;
}

a.twitter {
    color: #49a1eb;
}

a.instagram {
    color: black;
}

@media screen and (max-width: 960px) {
    .social-container {
        background: transparent;
        margin: 0px 0px;
        margin-top: 2px;
        width: max-content;
    }
}