.css-1wxaqej {
    box-sizing: border-box;
    margin: -10px;
    flex-direction: row;
}

.css-u0jv7p {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    width: 100%;
    opacity: 0.7;
}

footer {
    color: #f8f8f8;
    margin: 8px 60px;
}

.css-1g356s9 {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: #f8f8f8;
}