@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap");
* {
    font-family: "DynaPuff", cursive !important;
}


/* div> :last-child .box {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
} */