.my-name {
    color: rgb(0, 255, 164);
    margin-top: 4px;
}

.bay-bay {
    translate: 4px;
    transform: translateY(4px);
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
}