@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400&display=swap");
.long-text {
    font-family: "DynaPuff", cursive !important;
}

.my-name {
    color: #6ab5b9;
    margin-top: 4px;
}

div:hover .bg-gradien-botail :hover {
    background: linear-gradient(#5a819c, #541d86);
}